DirectoryIndex index.xml index.html index.htm

<Files "*.xml">
    Header set Content-Type "application/xml; charset=utf-8"
</Files>

<Files "index.xml">
    Header set Content-Type "text/html; charset=utf-8"
</Files>
