DirectoryIndex index.html index.xml index.htm

<Files "*.xml">
    Header set Content-Type "application/xml; charset=utf-8"
</Files>

<Files ~ "thesis.pdf">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>
